<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty & Co - Customer Account</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<%- include("./partials/topbar.ejs") %>

<table>
    <thead>
        <th>Product ID</th>
        <th>Product name</th>
        <th>Category</th>
        <th>Action</th>
        <th>Action</th>
    </thead>
    <% for (let i = 0; i < pList.length; i++) {%>
        <tr>
            <td><%= pList[i]['Id_Products']%></td>
            <td><%= pList[i]['name_product']%></td>
            <td><%= pList[i]['Id_category']%></td>
            <td><a href="/products/delete/<%= pList[i]['Id_Products']%>">Delete</a></td>
            <td><a href="/products/edit/<%= pList[i]['Id_Products']%>">Edit</a></td>
        </tr>
    <% } %>

</table>

<a href="/products/new">New product</a>

<%- include("./partials/footer.ejs") %>
</body>
</html>