<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty & Co - Reviews</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reviews.css">
    <script src="/js/review.js"></script>

</head>
<body>
<%- include("./partials/topbar.ejs") %>
<div class="globalReviewTitle"><br>
    <h1>Write a review !</h1><br>
</div>

<section class="reviewSection">
    <form id="reviewForm" method="post" action="/review/<% if (empty) { %>add<% } else {%>edit<% } %>">
        <input type="hidden" name="review_id" value="<%= r['Id_review'] %>">
        <fieldset>
            <legend class="infosTitle">Order Number</legend>
            <input type="number" id="product" name="order_id" required placeholder="Order Number" value="<%= r['Id_Order'] %>">

        </fieldset>

        <fieldset>
            <legend class="reviewTitle">Customer reviews</legend>

            <label for="deliveryGrade">Rate from 1 to 5 :<br><br> Delivery :</label>
            <input type="number" id="deliQ" name="deliQ" min="1" max="5" value="<%= r['delivery_quality'] %>"><br>

            <label for="qualityGrade">Quality of the product:</label>
            <input type="number" id="prodQ" name="prodQ" min="1" max="5" value="<%= r['product_quality'] %>"><br>

            <label for="serviceGrade">Customer service:</label>
            <input type="number" id="serviceGrade" name="custS" min="1" max="5" value="<%= r['customer_service'] %>"><br>

            <label for="speedGrade">Speed of the delivery :</label>
            <input type="number" id="speedGrade" name="deliS" min="1" max="5" value="<%= r['delivery_speed'] %>"><br><br>

            <label for="recomm">Recommendation :</label>
            <input type="number" id="recomm" name="recomm" min="1" max="5" value="<%= r['recommendation'] %>"><br><br>

            <input type="submit" value="Add" class="reviewSubmit">

        </fieldset>

    </form>
    <br>
    <a href="/review/list">My reviews</a>
   
</section>
<%- include("./partials/footer.ejs") %>
</body>
</html>