<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty & Co - Customer Account</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
    <% if (role === "admin")  { %>
    <link rel="stylesheet" href="/css/stats.css">
    <% } %>
</head>
<body>

<%- include("./partials/topbar.ejs") %>
<div class="main">
    <div class="leftContainer" style="justify-content: center">
        <h1>User Informations</h1>
        <form action="/user/editaccount" method="post">
            <div >Your informations:</div>
            <input type="text" name="mail" value="<%= u['mail'] %>">
            <input type="text" name="lastname" value="<%= u['lastname'] %>">
            <input type="text" name="firstname" value="<%= u['firstname'] %>">
            <input type="text" name="password" value="" required placeholder="New password">
            <select id="gender" name="gender">
                <option value="" disabled selected hidden>Please choose</option>
                <option value="1" <% if (u['gender'] === 1) { %>selected<% } %>>Woman</option>
                <option value="2" <% if (u['gender'] === 2) { %>selected<% } %>>Man</option>
            </select>
            <input type="date" name="date_of_birth" value="<%= u['date_of_birth'] %>">
            <input type="submit" name="submit" value="Save your changes">
        </form>

        <div class="container">
            <a href="/logout">Logout</a>
            <p>Danger zone</p>
            <a href="/deleteaccount">Delete your account</a>
        </div>
    </div>
    <% if (role === "admin") {%>
    <div class="rightContainer">
        <h1>Stats</h1>
        <div class="statsContainer">
            <div class="statsRow">
                <div class="statItem" id="usersCount">
                    <div class="statValue">Waiting...</div>
                    <div class="statContent">Users</div>
                </div>
                <div class="statItem" id="orderCount">
                    <div class="statValue">Waiting...</div>
                    <div class="statContent">Orders</div>
                </div>
            </div>
            <div class="statsRow">
                <div class="statItem" id="reviewsCount">
                    <div class="statValue">Waiting...</div>
                    <div class="statContent">Reviews</div>
                </div>
                <div class="statItem" id="productsCount">
                    <div class="statValue">Waiting...</div>
                    <div class="statContent">Products</div>
                </div>
            </div>
            <div class="statsRow">
                <div class="statItem" id="mostBought">
                    <div class="statValue">Waiting...</div>
                    <div class="statContent">Most bought</div>
                </div>
                <div class="statItem" id="moneyMade">
                    <div class="statValue">Waiting...</div>
                    <div class="statContent">Full money made</div>
                </div>
            </div>
            <div class="statsRow">
                <div class="statItem" id="Product list" style="align-items: center">
                    <h2><a href="/products/adminProductList">PRODUCT LIST</a></h2>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/stats.js"></script>
    <% } %>
</div>
<%- include("./partials/footer.ejs") %>
</body>
</html>